body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.contenido{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0. 0. 2);
}
h1{
    text-align: center;
}
button{
    background-color: violet;
    color: papayawhip;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
li{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.completada{
    text-decoration: line-through;
    color: antiquewhite;
}
.contador{
    margin-top: 15px;
    border-top: 1px solid ;
    padding-top: 10px;
}
.img-1{
    width: 120px;
    display: flex;
    margin: 0 auto 10px auto;
}